@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

@model IEnumerable<Domain.Entities.Article>

@{
	ViewData["Title"] = "Articles";
	var tags = ViewData["Tags"] as List<string> ?? [];
}

<h1>Articles By Tags</h1>
<input id="page" style="display: none" type="text" value="2" />

<div class="d-flex justify-content-between">
	<p>
		<a asp-action="Create">Create New</a>
	</p>
	<div class="d-flex align-items-center btn-group">
		<label>Tags:</label>
		@foreach (var tag in tags)
		{
			<button class="btn btn-secondary" href="#">@tag</button>
		}
	</div>
</div>
<table id="articlesTable" class="table">
	<thead>
	<tr>
		<th>
			@Html.DisplayNameFor(model => model.Title)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Text)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.CreatedAt)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.IsPublished)
		</th>
		<th>
			@Html.DisplayNameFor(model => model.Tag)
		</th>
		<th></th>
	</tr>
	</thead>
	<tbody>
		@await Html.PartialAsync("Partial/Table", Model)
	</tbody>
</table>
<nav aria-label="Page navigation example">
	<ul class="pagination">
		<li class="page-item"><a class="page-link">Previous</a></li>
		<li class="page-item"><a class="page-link">Next</a></li>
	</ul>
</nav>
<script src="~/js/articles.js" asp-append-version="true" defer="true"></script>