@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}
@model IEnumerable<Domain.Entities.Article>

@foreach (var item in Model) {
	<tr>
		<td>
			@Html.DisplayFor(modelItem => item.Title)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Text)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.CreatedAt)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.IsPublished)
		</td>
		<td>
			@Html.DisplayFor(modelItem => item.Tag)
		</td>
		<td>
			<a asp-controller="Articles" asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
			<a asp-controller="Articles" asp-action="Details" asp-route-id="@item.Id">Details</a> |
			<a asp-controller="Articles" asp-action="Delete" asp-route-id="@item.Id">Delete</a>
		</td>
	</tr>
}